body {
  font-family: Arial, sans-serif;
  height: auto;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  max-width: 400px;
  min-width: 350px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
}

.btn button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.btn button:hover {
  background-color: #0056b3;
}



#saveLinks{
  overflow-wrap: break-word;
}
#saveLinks ol{
  padding-left: 5px;
}
#link li{
  margin-top:4px;
  list-style: decimal inside;
  padding: 5px;
}
#link li:nth-child(odd){
 background-color: #f1f1f1;
 border-radius: 4px;
}
#link li a{
  margin-top: 5px;
  text-decoration: none;
  color: rgb(35, 33, 33);
  font-size: 14px;
}